 /* The animation code */
@keyframes flip-animation {
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
/*Image will flip on the x-axis*/
}



.image-animation:hover {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.image-animation:hover {
  animation-name: flip-animation;
  animation-duration: 3s, 2s;
  /*set time for each animation before the next starts*/
  animation-timing-function: linear, ease-in-out;
  /*set the timing funtions for each animation*/
  animation-iteration-count: infinite;
  /*forever repeat animation*/

}

 /* The element to apply the animation to */
 img {
   position: absolute;
   padding-top: 30px;
   padding-left: 30px;
 }